body {
  margin: 0;
  background: #0f172a;
  color: #fff;
  font-family: system-ui;
}

#uiLayer {
  padding: 8px;
  background: #020617;
}

#viewer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#pageContainer {
  position: relative;
}

canvas {
  background: white;
}

#textLayer {
  position: absolute;
  inset: 0;
  color: transparent;
  user-select: text;
}

.textLayer span {
  position: absolute;
  white-space: pre;
  cursor: text;
}

/* REAL HIGHLIGHT */
.highlight {
  background: rgba(255, 235, 59, 0.6);
}

/* REAL UNDERLINE */
.underline {
  border-bottom: 2px solid #ef4444;
}

/* Context Menu */
#contextMenu {
  position: fixed;
  background: #111827;
  border-radius: 8px;
  padding: 6px;
  display: flex;
  gap: 6px;
  z-index: 999;
}
#contextMenu button {
  background: #4f46e5;
  border: none;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
}